<div class="container" id="purchase">
  <h1 class="p-3">Minhas Compras</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nome do Produto</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Data da Compra</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.product.name, purchase_path(purchase) %></td>
          <td>R$ <%= purchase.value.to_i %></td>
          <td><%= purchase.product.category %></td>
          <td><%= purchase.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
