.navbar-lewagon {
  justify-content: space-between;
  background: #79b0a1;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand  {
  width: 40px;
  color: white;
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: white;
}

.navbar-lewagon .nav-item {
  color: white;
}
