.navbar-lewagon {
  justify-content: space-between;
  background: #2E446B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand  {
  width: 40px;
  color: white;
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: white;
}

