<div class="container-xl">
  <h2 class="p-3">Edit Product</h2>

  <%= render 'form', product: @product %>

  <%= link_to "Back to the list", products_path, class: 'btn btn-primary w-100 mt-2 mb-2' %>
</div>
