<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1468322638156-074863f9362e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @products.each do |product| %>
    <div class="col mb-4">
      <div class="card-index">
      <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, class: 'card-img' %>
      <% else %>
        <%= cl_image_tag('vitor_k4t6bg.png', class: 'card-img') %>
      <% end %>

        <div class="card-body">
          <h6><%= link_to product.name, product_path(product) %></h6>
          <p>R$ <%= product.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
